 @import "includes/settings";
.list-wrapper{
  header{
    position: relative;border-bottom: 1px solid $color-gray-9;
    padding-bottom: 1rem;margin-top: 2rem;
    h2{
      font-size: 1.6rem;color: $color-gray-3;font-weight: bold;

    }
    a{position: absolute;right: 0px;top: 0px;}
  }
}

.article-news{
  header{
    padding: 3rem 0 2rem;text-align: center;border-bottom: 1px solid $color-gray-9;
    margin-bottom: 3rem;
    h1{font-size: 1.8rem;font-weight: bold;line-height:30px;padding-bottom: 10px;
      width: 768px;margin: 0 auto;
    }
  }
  article{
    max-width: 768px;margin: 0 auto;
    p{
      text-indent: 2rem;
    }
    img{margin: 10px auto;display: block;width: 100%;}
    line-height: normal;
  }
}
.no-more .loader-text{display: none;}
.up-down{
  padding: 2rem 0 0 ;
}